<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <title>Kano - Friday Wins!</title>

    <meta name="description" content="Kano - Friday Wins Presentation in reveal.js">
    <meta name="author" content="Anzel Lai">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="apple-touch-icon" type="image/png" sizes="57x57" href="/static/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" type="image/png" sizes="60x60" href="/static/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" type="image/png" sizes="72x72" href="/static/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" type="image/png" sizes="76x76" href="/static/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" type="image/png" sizes="114x114" href="/static/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" type="image/png" sizes="120x120" href="/static/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" type="image/png" sizes="144x144" href="/static/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" type="image/png" sizes="152x152" href="/static/apple-touch-icon-152x152.png">
    <link rel="icon" sizes="16x16" type="image/png" href="/static/favicon-16x16.png">
    <link rel="icon" sizes="32x32" type="image/png" href="/static/favicon-32x32.png">
    <link rel="icon" sizes="96x96" type="image/png" href="/static/favicon-96x96.png">
    <link rel="icon" sizes="160x160" type="image/png" href="/static/favicon-160x160.png">

    <link rel="stylesheet" href="/static/vendor/picnic.css">
    <link rel="stylesheet" href="/static/css/app.min.css">
    <link rel="stylesheet" href="/static/vendor/theme.css">
    <link href="/static/vendor/lib/css/zenburn.css" rel="stylesheet" id="theme">

    <!--[if lt IE 9]>
      <script src="/static/vendor/lib/js/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="reveal">

      <!-- Any section element inside of this container is displayed as a slide -->
      <div class="slides">
        <section>
          <section>
            <h1>Kano - Weekly Wins!</h1>
            <h3>Presented by Anzel Lai</h3>
          </section>
          <section>
            <table>
              <tbody>
                <tr>
                  <td>
                    <pre>
+++++++++++++++++++????+++++++++++++++++
++++++++++++++???+===~==++??++++++++++++
+++++++++++??+~,,,,::~::,,,~+??+++++++++
+++++++++?+~,.~?$ZO8888OZ$?:.,=?++++++++
+++++++?+:.:IO88OZ$$$$$$ZO88Z=.:?+++++++
++++++?=.:788Z$$$$$$$$$$$$$$OD$.,?++++++
+++++?=.=8D8Z$$$$$$$$$$$$$$$$ZDZ.:?+++++
++++?=.+DOZO88Z$$ZZ$$$$$$$$ZZ$ZDI.=?++++
+++?+.=DO$$O8O88Z$$ZZZZZZZZZZZ$OD:.?++++
+?+?~.ZDZZZDO~?Z88OZZ$$$ZZZZZZZZD7.=?+++
??+?:.88ZZ8D?~~~+7O8888OOZZZZZZZ8O.~?+??
????:.88OD8?~=~~~~=+I7$OO888OZZZ8D,,????
????=.7N87=~=+7?===~~~~~?$77OD8Z8D,,????
?????,,7Z+===+7I========?7+~=?OD88,:????
??????,.Z7===================~+8NZ.~????
??????+.+O?=====7$$$$$$7======$78+.?????
???????~.?OI====?Z7??7ZI====+$$,,.~?????
????????~.=Z$?===?7$$7?===+IZ7,,:~??????
?????????=.,?Z$I?+=====+I7Z7~.:?????????
???????????~.,=I$$$$$$$$7+:.:+??????????
?????????????=:,,,:::::,,,~+????????????
?????????????????++===++????????????????
                    </pre>
                  </td>
                  <td>
                    <h2>Believe me...</h2>
                    <h3>It won't take long</h3>
                    <h4>IT'S FRIDAY!!</h4>
                    <h3>Yeah...</h3>
                  </td>
                </tr>
              </tbody>
            </table>
          </section>
        </section>

        <section>
          <section>
            <h2 class="fragment">Here comes the first WIN</h2>
            <h3 class="fragment">It's for Kano.me team</h3>
            <h4 class="fragment"><blockquote>Stephanie says...</blockquote></h4>
            <p class="fragment">
            Kano.me team built a scheduler for our site content, so we can have content go live in sync with our Amazon and retail campaigns!
            Big shout outs to Anzel and Maurizio for this important work to support an amazing Prime Day :)
            </p>
          </section>
          <section data-background="/static/images/weekly-win-1.jpg"></section>
        </section>

        <section>
          <section>
            <h2 class="fragment">Here comes the second WIN</h2>
            <h3 class="fragment">It's for something Creative!</h3>
            <h4 class="fragment"><blockquote>Aaron says...</blockquote></h4>
            <p class="fragment">
            We've begun editing the launch film. and pending approval from <i>John Williams</i> we have approval on music for the film.
            </p>
          </section>
          <section data-background="/static/images/weekly-win-2.jpg">
            <section data-background-video="/static/videos/weekly-win-2.mp4"></section>
            <video class="fragment" controls>
              <source src="/static/videos/weekly-win-2.mp4" type="video/mp4">
            </video>
          </section>
        </section>

        <section>
          <section>
            <h2 class="fragment">And it's the third WIN</h2>
            <h3 class="fragment">It's for media & communication!</h3>
            <h4 class="fragment"><blockquote>David says...</blockquote></h4>
          </section>
          <section>
            <ol>
              <li class="fragment">
                First round of media interviews for wand held this week, met with Engadget, The Telegraph, Evening Standard, Bloomberg, Financial Times and The Next Web. Feedback really positive and really good interest from media to cover us during launch.
              </li>
              <li class="fragment">
                Influencer marketing roster coming strong for wand, lots of interest as well.
              </li>
              <li class="fragment">
                Warner Bros agreed to help us with social media promotion for the wand, this is...
              </li>
            </ol>
          </section>
          <section data-background="/static/images/weekly-win-3.jpg">
            <h1 class="fragment">HUGE!</h1>
          </section>
        </section>

        <section>
          <section>
            <h2 class="fragment">And it's the forth WIN... or WINS</h2>
            <h3 class="fragment">It's from Alex Klein</h3>
            <h4 class="fragment"><blockquote>He says...</blockquote></h4>
          </section>
          <section>
            Well he says a lot of good things...
          </section>
          <section>
            <ol>
              <li class="fragment">We're in the Science Museum permanent collection😃😄</li>
              <li class="fragment">HP launch film is beautiful and gets a green light</li>
              <li class="fragment">Outrageously good press demos, credit to the product, engineering, and PR teams</li>
              <li class="fragment">Nice improvements to Kano.me from Steph and the team!</li>
              <li class="fragment">Sell through is up more than double year on year</li>
              <li class="fragment">Our Chinese pricing for Wand components has beaten our budget target</li>
              <li class="fragment">$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$</li>
            </ol>
          </section>
          <section>
            <pre>
                                            $$\
                                            \__|
 $$$$$$\  $$$$$$\$$$$\   $$$$$$\  $$$$$$$$\ $$\ $$$$$$$\   $$$$$$\
 \____$$\ $$  _$$  _$$\  \____$$\ \____$$  |$$ |$$  __$$\ $$  __$$\
 $$$$$$$ |$$ / $$ / $$ | $$$$$$$ |  $$$$ _/ $$ |$$ |  $$ |$$ /  $$ |
$$  __$$ |$$ | $$ | $$ |$$  __$$ | $$  _/   $$ |$$ |  $$ |$$ |  $$ |
\$$$$$$$ |$$ | $$ | $$ |\$$$$$$$ |$$$$$$$$\ $$ |$$ |  $$ |\$$$$$$$ |
 \_______|\__| \__| \__| \_______|\________|\__|\__|  \__| \____$$ |
                                                          $$\   $$ |
                                                          \$$$$$$  |
                                                           \______/
            </pre>
          </section>
        </section>

        <section>
          <section>
            <h2 class="fragment">And it's the fifth WIN...</h2>
            <h3 class="fragment">But it's kind of mysterious!</h3>
            <h4 class="fragment"><blockquote>Dominique says...</blockquote></h4>
          </section>
          <section>
            <table>
              <tr>
                <td>
                  <img height="640" src="/static/images/weekly-win-5.jpg">
                </td>
                <td>??????????????????</td>
              </tr>
            </table>
          </section>
          <section>
            <pre>
                  /88888888888888888888888888\
                  |88888888888888888888888888/
                   |~~____~~~~~~~~~"""""""""|
                  / \_________/"""""""""""""\
                 /  |              \         \
                /   |  88    88     \         \
               /    |  88    88      \         \
              /    /                  \        |
             /     |   ________        \       |
             \     |   \______/        /       |
  /"\         \     \____________     /        |
  | |__________\_        |  |        /        /
/""""\           \_------'  '-------/       --
\____/,___________\                 -------/
------*            |                    \
  ||               |                     \
  ||               |                 ^    \
  ||               |                | \    \
  ||               |                |  \    \
  ||               |                |   \    \
  \|              /                /"""\/    /
     -------------                |    |    /
     |\--_                        \____/___/
     |   |\-_                       |
     |   |   \_                     |
     |   |     \                    |
     |   |      \_                  |
     |   |        ----___           |
     |   |               \----------|
     /   |                     |     ----------""\
/"\--"--_|                     |               |  \
|_______/                      \______________/    )
                                              \___/
            </pre>
          </section>
        </section>

        <section>
          <section>
            <h2 class="fragment">And here comes another WIN(s)!</h2>
            <h3 class="fragment">It's from social media and Influencer...</h3>
          </section>
          <section>
            <table>
              <tbody>
                <tr>
                  <td>
                    <img src="/static/images/weekly-win-4.png" width="480" height="480">
                  </td>
                  <td>
                    <p class="fragment">It's KANO!</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </section>
          <section>
            <h2>Someone mentions us</h2>
            <blockquote class="twitter-tweet" data-lang="en"><p lang="es" dir="ltr">Armando Kit Kano y coordinando capacitación de Programación y Robótica en EP 3 Junín <a href="https://t.co/n9x9aL6C5V">pic.twitter.com/n9x9aL6C5V</a></p>&mdash; Valeria Galvetti (@valeria_gal) <a href="https://twitter.com/valeria_gal/status/1014931959544516608?ref_src=twsrc%5Etfw">July 5, 2018</a></blockquote>
          </section>
          <section>
            <h2>Another mention</h2>
            <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Happy 4th of July from Sunburst Digital! We&#39;re celebrating with our Pixel Kit from <a href="https://twitter.com/TeamKano?ref_src=twsrc%5Etfw">@TeamKano</a> <a href="https://twitter.com/hashtag/STEM?src=hash&amp;ref_src=twsrc%5Etfw">#STEM</a> <a href="https://twitter.com/hashtag/4thofJuly?src=hash&amp;ref_src=twsrc%5Etfw">#4thofJuly</a> <a href="https://twitter.com/hashtag/edtech?src=hash&amp;ref_src=twsrc%5Etfw">#edtech</a> <a href="https://t.co/UZqecoSblJ">pic.twitter.com/UZqecoSblJ</a></p>&mdash; Sunburst Digital (@sunburstdigital) <a href="https://twitter.com/sunburstdigital/status/1014509132504813568?ref_src=twsrc%5Etfw">July 4, 2018</a></blockquote>
          </section>
          <section>
            <h2>Another one</h2>
            <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">I know,  isn’t it great.  That Kano kit has opened up our kids eyes to tech like no other!</p>&mdash; HomeSchoolSquad (@HomeSchoolSquad) <a href="https://twitter.com/HomeSchoolSquad/status/1014528252981989376?ref_src=twsrc%5Etfw">July 4, 2018</a></blockquote>
          </section>
          <section>
            <h2>Some bubble artworks</h2>
            <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">8FR using <a href="https://twitter.com/TeamKano?ref_src=twsrc%5Etfw">@TeamKano</a> to code their own bubble artwork this morning...computing, art and a bit of numeracy to start their day <a href="https://twitter.com/willowshigh?ref_src=twsrc%5Etfw">@willowshigh</a> <a href="https://t.co/3ssl1hKYmm">pic.twitter.com/3ssl1hKYmm</a></p>&mdash; Miss Charles (@MissCharles2013) <a href="https://twitter.com/MissCharles2013/status/1014425473265426432?ref_src=twsrc%5Etfw">July 4, 2018</a></blockquote>
          </section>
          <section>
            <h2>And a Ninja Influencer... well</h2>
            <p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/mxXX8lJ6aYU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </p>
          </section>
          <section>
            <h2>CKid</h2>
            <h3>4 days ago</h3>
            <blockquote>This is pretty cool...I got a friend that wants to get his child into coding...this seems like the perfect product to recommend to him.  Another great video.</blockquote>
          </section>
          <section>
            <h2>TRU_ RACER_YT_</h2>
            <h3>5 days ago</h3>
            <blockquote>How do you not have alot more views on this video yet one day when i habe a decent pc ill get this product</blockquote>
          </section>
          <section>
            <h2>Clinton Anderson</h2>
            <h3>3 days ago</h3>
            <blockquote>Nice job Kevin the middle school here where I live just got a grant for coding I hope the kids really take advantage of it</blockquote>
          </section>
        </section>


        <section>
          <section>
          <h2>And here goes...</h2>
          <h3>Staff pick of the week.</h3>
          <p>
          <a target="_blank" href="https://world.kano.me/creation/open-sign_1">Open Sign1</a>
          </p>
          </section>
          <section>
            <iframe src="https://world.kano.me/creation/open-sign_1" width="720" height="540"></iframe>
          </section>

        </section>

        <section>
          <section>
            <h2>And finally...</h2>
            <h3>Wellbeing Challenge!</h3>
            <h4><blockquote>Charlene says...</blockquote></h4>
          </section>
          <section>
            <p>In no particular order...</p>
            <table class="primary">
              <thead>
                <tr><td>Team</td><td>Score</td><tr>
              </thead>
              <tbody>
                <tr class="fragment"><td>Hufflepuff</td><td>449</td></tr>
                <tr class="fragment"><td>Ravenclaw</td><td>555</td></tr>
                <tr class="fragment"><td>Slytherin</td><td>758</td></tr>
                <tr class="fragment"><td>Gryffindor</td><td>769</td></tr>
              </tbody>
            </table>
          </section>
          <section>
            <pre>
                                ||        ||      ||  ()
 ,--. ,-. ,.,-.  ,--.,.,-. ,-.  ||-.,.  ,.|| ,-.  ||-.,. ,-. ,.,-.  ,--.
//`-'//-\\||/|| //-||||/`'//-\\ ||-'||  ||||//-\\ ||-'||//-\\||/|| ((`-'
\\,-.\\-//|| || \\-||||   \\-|| ||  ||//||||\\-|| ||  ||\\-//|| || ,-.))
 `--' `-' `' `'  `-,|`'    `-^-``'  `-' `'`' `-^-``'  `' `-' `' `' `--'
                  //           .--------.
              ,-.//          .: : :  :___`.
              `--'         .'!!:::::  \\_\ `.
                      : . /%O!!::::::::\\_\. \
                     [""]/%%O!!:::::::::  : . \
                     |  |%%OO!!:::::::::::::  :|
            :       .'--`.%%OO!!!:::::::::::: :|
          : .:     /`.__.'\%%OO!!!::::::::::::/
         :    .   /        \%OO!!!!::::::::::/
        ,-'``'-. ;          ;%%OO!!!!!!:::::'
        |`-..-'| |   ,--.   |`%%%OO!!!!!!:'
        | .   :| |_.','`.`._|  `%%%OO!%%'
        | . :  | |--'    `--|    `%%%%'
        |`-..-'| ||   | | | |     /__\`-.
        \::::::/ ||)|/|)|)|\|           /
---------`::::'--|._ ~**~ _.|----------( -----------------------
           )(    |  `-..-'  |           \    ______
           )(    |          |,--.       ____/ /  /\\ ,-._.-'
        ,-')('-. |          |\`;/   .-()___  :  |`.!,-'`'/`-._
            </pre>
          </section>
          <section>
            <blockquote>
                Next week is the last week of the Kano Wellness Challenge
                and that scores will be displayed on the screen all week and updated throughout the day! :smile:
            </blockquote>
          </section>
        </section>

        <section>
          <section style="text-align: left;">
            <h1>And on that bombshell...</h1>
          </section>
          <section>
            <h1>IT'S FRIDAY let's drink!</h1>
            <p>
            <pre>
    .O°o. .o°O________________________________O°o. .o°O.
    .°o.O.o° ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯.°o.O.o°
             ░░░░░╔══╦╗░░░░╔╗░░░░░░╔╗╔╗░░░░░░░░
             ░░░░░╚╗╔╣╚╦═╦═╣║╔╗░░░░║║║╠═╦╦╗░░░░
             ░░░░░░║║║║╠╝║║║╠╝║░░░░║╚╝║║║║║░░░░
             ░░░░░░║║║║║║║║║╔╗╣░░░░╚╗╔╣║║║║░░░░
             ░░░░░░╚╝╚╩╩═╩╩╩╝╚╝░░░░░╚╝╚═╩═╝░░░░
    .O°o. .o°O________________________________O°o. .o°O.
    .°o.O.o° ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯.°o.O.o°..
            </pre>
            </p>
          </section>

      </div>

    </div>

    <script src="/static/vendor/lib/js/head.min.js"></script>
    <script src="/static/js/app.min.js"></script>

    <script>

      // More info https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        transition: "zoom", // none/fade/slide/convex/concave/zoom

        // More info https://github.com/hakimel/reveal.js#dependencies
        dependencies: [
          { src: "/static/vendor/lib/js/classList.js", condition: function() { return !document.body.classList; } },
          { src: "/static/vendor/plugin/highlight/highlight.js", async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: "/static/vendor/plugin/search/search.js", async: true },
          { src: "/static/vendor/plugin/zoom-js/zoom.js", async: true },
          { src: "/static/vendor/plugin/notes/notes.js", async: true }
        ]
      });

    </script>

  </body>
</html>
